@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

@theme {
  --color-primary: #B7F272;
  --color-secondary: #1A1E29;
  --color-tertiary: #647BEF;
  --color-gray: #EDEDED;
}

@layer utilities {
  .container {
    max-width: calc(var(--container-max-width, 1220px) + 20px);
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
